body {
    background-color: black;
    font-family: Georgia;
    color: white;
    padding: 35px;
    margin: 30px;
}

header {
    position: sticky;
    top: 0px;
}

.Logo {
    float: left;
    margin-right: 20px;
}

#works {
    border-top: 1px dotted rgb(95, 95, 95);
    display: flex;
}

.work {
    padding: 20px;
    margin: 20px;
}