body {
    background-color: black;
    font-family: Georgia;
    color: white;
    padding: 10px;
    margin: 15px;
}

header {
    position: sticky;
    top: 0px;
    background: black;
}

.Logo {
    float: left;
    margin-right: 20px;
}

#works {
    border-top: 1px double rgb(95, 95, 95);
    display: flex;
}

.work {
    padding: 5px;
    margin: 5px;
}

.main_body {
    display: flex;
}